@import url("font-awesome.min.css");

a:hover, a:visited{
	text-decoration: none
}

/* Parte Superior */

#topp{
	margin: 20px;
	color: #F0F0F0
}
.desce{
	margin-top: 20px;
}

.logo{
	float: left;
	width: 200px
}

#num_itens{
	background: rgba(50, 50, 230, .7);
	border-radius: 20%;
	width: 20px;
	text-align: center;
	position: relative;
	left: 30px;
	bottom: 49px
}

.dropdown-content{display: none; position: absolute; min-width: 160px; box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); z-index: 1; padding: 15px;}
.dropdown-content:hover .dropdown-content {display: block;}
.dropdown-content input{text-align: center;}
.dropdown-content form{text-align: center;margin-top: 30px;}
/**{font-family: 'Montserrat', cursive;}*/
img{width: 200px;margin-top: 20px;margin: auto;display: block;}
.dropdown-content input[type="text"]{border: 1px solid #CCC;width: 250px; height: 25px; padding-left: 10px; border-radius: 3px;}
.dropdown-content input[type="password"]{border: 1px solid #CCC;width: 250px; height: 25px; padding-left: 10px; margin-top: 10px;border-radius: 3px;}
.dropdown-content input[type="submit"]{margin-top: 20px;}
.dropdown-content h2{text-align: center;}
.dropdown-content label{margin-top: 20px; }
div #desceu{
    border-radius: 2px;
}

/*Fim da Parte Superior*/

/*Menu*/

#ul li{
	display: inline-block;
	background-color: rgba(0, 0, 0, .6);
	padding: 10px;
	border-radius: 10px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	transition: 1s;
}

#ul li:hover{
	transform: translateY(-3px);
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.7);
	background-color: rgba(0, 0, 0, .7);
	transition: 1s;
}

li:hover{
	background-color: rgba(0, 0, 0, .8);
}

.con{
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
}

/* Fim Menu */

/* Slide */

.img{
	width: 100%;
	height: 360px
}

/* Fim Slide */

/* Main */


/* Fim Main */

/* Footer */

#footer{
	/*position:absolute;*/
    bottom:0;
    width:100%;
    text-align: center;
}

/* Fim Footer */

.invisivel{
    display:none;
}