a:hover, a:visited{
	text-decoration: none
}

/* Parte Superior */

#topp{
	margin: 20px;
	color: #F0F0F0
}
.desce{
	margin-top: 20px;
}

.logo{
	float: left;
	width: 200px
}

#num_itens{
	background: rgba(50, 50, 230, .7);
	border-radius: 20%;
	width: 20px;
	text-align: center;
	position: relative;
	left: 22px;
	bottom: 45px
}

.dropdown-content{display: none; position: absolute; min-width: 160px; box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); z-index: 1; padding: 15px;}
.dropdown:hover .dropdown-content {display: block;}
input{text-align: center;}
form{text-align: center;margin-top: 30px;}
/**{font-family: 'Montserrat', cursive;}*/
img{width: 200px;margin-top: 20px;margin: auto;display: block;}
input[type="email"]{border: 1px solid #CCC;width: 250px; height: 25px; padding-left: 10px; border-radius: 3px;}
input[type="password"]{border: 1px solid #CCC;width: 250px; height: 25px; padding-left: 10px; margin-top: 10px;border-radius: 3px;}
input[type="submit"]{margin-top: 20px;}
h2{text-align: center;}
label{margin-top: 20px; }
div#desceu{
    border-radius: 2px;
}

/*Fim da Parte Superior*/

/*Menu*/
#ul{
	width: 100%;
	display: inline-block
}
#ul li{
	width: 20%;
	display: inline-block;
}
/* Fim Menu */

/* Slide */

.img{
	width: 100%;
	height: 360px
}

/* Fim Slide */